.venv/
__pycache__/
*.pyc
data/app.db
app/generated/*.docx
app/generated/*.xlsx
data_runtime/
installer/output/
installer/build/
installer/build-temp/
installer/app_icon.ico

.venv32/
.venv38/
build/
dist/
.antigravity/
app.db
site.err.log
site.out.log
